body {
    font-size: small;
    font-family: sans serif;
    text-align: left;
    margin: auto 20px auto 20px;
}

table {
      border-width: 0px;
      border-spacing: 0px;
      border-style: solid;
      border-color: black;
      border-collapse: collapse;
}

th {
      background-color: #B8CFE5; /* Swing's Metal LAF color */
      border-width: 1px;
      padding: 3px;
      border-style: solid;
      border-color: gray;
      font-weight: bold;
      text-align: left;
/*      white-space: nowrap; */
}

td {
      border-width: 1px;
      padding: 3px;
      border-style: solid;
      border-color: gray;
      white-space: nowrap;
}